<div class="row">
  <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading c_deepPurpleG300to500">
          <h3 class="panel-title">Last addresses used</h3>
        </div>
        <div class="panel-body">
          <div class="list-group-item" ng-repeat="address in addresses">
            <div class="row-content">
              <a ng-href="#!/address/{{address.hash}}" class="list-group-item-text">{{address.hash}}</a>
            </div>
          </div>

            <ul class="pager">
                <li><a class="withripple" ng-click="getPrev()">Previous</a></li>
                Current page: {{page}}
                <li><a class="withripple" ng-click="getNext()">Next</a></li>
            </ul>
        </div>
      </div>
  </div>
</div>
