<div class="row">
    <div class="col-md-6">
        <div class="panel-heading c_deepPurpleG300to500">
            <h3 class="panel-title">Last 7 Days Tx/Day</h3>
        </div>
        <div class="panel-body">
            <canvas id="bar" class="chart chart-bar" chart-data="last7day.data" chart-labels="last7day.labels" chart-series="last7day.series">
            </canvas>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-heading c_deepPurpleG300to500">
            <h3 class="panel-title">Last 24 hours Tx/Hour</h3>
        </div>
        <div class="panel-body">
            <canvas id="line" class="chart chart-line" chart-data="last24hour.data" chart-labels="last24hour.labels">
                  </canvas>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="panel-heading c_deepPurpleG300to500">
            <h3 class="panel-title">Last 7 Days Tx/Hour</h3>
        </div>
        <div class="panel-body">
            <canvas id="line" class="chart chart-line" chart-data="last7dayhour.data" chart-labels="last7dayhour.labels" chart-series="last7dayhour.series">
            </canvas>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="panel-heading c_deepPurpleG300to500">
            <h3 class="panel-title">Last {{monthsCount}} Months Tx/Hour</h3>
        </div>
        <div class="panel-body">
            <canvas id="line" class="chart chart-line" chart-data="lastmonths.data" chart-labels="lastmonths.labels" chart-series="lastmonths.series">
            </canvas>
        </div>
    </div>
</div>
