<div class="row">
  <div class="col-sm-4">
    <div class="panel">
      <div class="panel-body">
        <h4>{{stats.realblockcount}}/{{stats.blockcount}} Blocks with content</h4>
        <div class="progress" style="margin:0;">
          <div class="progress-bar c_deepPurpleG300to500" ng-style="blockProgress"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel">
      <div class="panel-body">
        <h4>{{stats.txcount}} Txs</h4>
        <div class="progress" style="margin:0;">
          <div class="progress-bar c_deepPurpleG300to500" ng-style="txProgress"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel">
      <div class="panel-body">
        <h4>{{stats.addrcount}} Addr</h4>
        <div class="progress" style="margin:0;">
          <div class="progress-bar c_deepPurpleG300to500" ng-style="txProgress"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel">
      <div class="panel-body">
        <round-progress
        max="max"
        current="current"
        color="#9575CD"
        bgcolor="#eaeaea"
        radius="100"
        stroke="20"
        semi="true"
        rounded="false"
        clockwise="true"
        responsive="true"
        duration="800"
        animation="easeInOutQuart"
        animation-delay="0">{{current}}/{{max}}</round-progress>
          <div class="o_textRoundProgress">{{ current }}/{{ max }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel">
      <div class="panel-body">
        <round-progress
        max="max"
        current="20"
        color="#673AB7"
        bgcolor="#eaeaea"
        radius="100"
        stroke="25"
        semi="true"
        rounded="false"
        clockwise="true"
        responsive="true"
        duration="800"
        animation="easeInOutQuart"
        animation-delay="0">{{current}}/{{max}}</round-progress>
          <div class="o_textRoundProgress">25%</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel">
      <div class="panel-heading c_deepPurpleG300to500">
        <h3 class="panel-title">Last 24 hours Tx/Hour
                <a ng-href="#!/dateAnalysis" class="pull-right c_deepPurpleG300to500">View more</a></h3>
      </div>
      <div class="panel-body">
        <canvas id="line" class="chart chart-line" chart-data="last24hour.data" chart-labels="last24hour.labels">
                </canvas>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading c_deepPurpleG300to500">
        <h3 class="panel-title">Tx/Day Last 7 Days</h3>
      </div>
      <div class="panel-body">
        <canvas id="horizontal-bar" class="chart chart-horizontal-bar" chart-data="last7day.data" chart-labels="last7day.labels" chart-series="last7day.series">
                </canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel">
      <div class="panel-heading c_deepPurpleG300to500">
        <h3 class="panel-title">Last 7 days Tx/Hour
                 <a ng-href="#!/dateAnalysis" class="pull-right c_deepPurpleG300to500">View more</a></h3>
      </div>
      <div class="panel-body">
        <canvas id="line" class="chart chart-line" chart-data="last7dayhour.data" chart-labels="last7dayhour.labels" chart-series="last7dayhour.series">
              </canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel">
      <div class="panel-heading c_deepPurpleG300to500">
        <h3 class="panel-title">Last addresses used</h3>
      </div>
      <div class="panel-body" style="max-height: 250px;overflow-y: scroll;">
        <div class="list-group-item" ng-repeat="address in addresses">
          <div class="row-content">
            <a ng-href="#!/address/{{address.hash}}" class="list-group-item-text">{{address.hash}}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="panel">
      <div class="panel-heading c_deepPurpleG300to500">
        <h3 class="panel-title">Last Tx with amount</h3>
      </div>
      <div class="panel-body" style="max-height: 250px;overflow-y: scroll;">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>BlockHeight</th>
                      <th>Txid</th>
                      <th>Input</th>
                      <th>Output</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="tx in txs">
                      <td style="max-width:20px; overflow:hidden;">
                          <a ng-href="#!/block/{{tx.blockheight}}" class="list-group-item-text">
                              {{tx.blockheight}}
                          </a>
                      </td>
                      <td style="max-width:20px; overflow:hidden;">
                          <a ng-href="#!/address/{{tx.from}}" class="list-group-item-text">
                              {{tx.txid}}
                          </a>
                      </td>
                      <td style="max-width:20px; overflow:hidden;">
                          <table><tbody><tr ng-repeat="vin in tx.vin"><td>
                              <a ng-href="#!/address/{{vin.address}}" class="list-group-item-text">
                                  {{vin.address}}
                              </a>
                              :{{vin.amount}}
                          </td></tr></tbody></table>
                      </td>
                      <td style="max-width:20px; overflow:hidden;">
                          <table><tbody><tr ng-repeat="vout in tx.vout"><td>
                              <a ng-href="#!/address/{{vout.address}}" class="list-group-item-text">
                                  {{vout.address}}
                              </a>
                              :{{vout.value}}
                          </td></tr></tbody></table>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
