<div class="c_grey900" style="height:100%;position:fixed;"><!-- margin-top:-20px; -->
    <ul class="nav o_sidebar">
        <li class="c_deepPurpleG300to500">
            <a href="#!/main">
                goBlockchainDataAnalysis
            </a>
        </li>
        <li>
            <a href="#!/main">
                <i class="fa fa-home o_sidebarIcon" aria-hidden="true"></i> Main
            </a>
        </li>
        <li>
            <a href="#!/addressNetwork">
                <i class="fa fa-sitemap o_sidebarIcon" aria-hidden="true"></i> Address Network
            </a>
        </li>
        <li>
            <a href="#!/dateAnalysis">
                <i class="fa fa-bar-chart o_sidebarIcon" aria-hidden="true"></i> Date Analysis
            </a>
        </li>
        <li>
            <a href="#!/blocks">
                <i class="fa fa-chain o_sidebarIcon" aria-hidden="true"></i> Blocks
            </a>
        </li>
        <li>
            <a href="#!/txs">
                <i class="fa fa-square-o o_sidebarIcon" aria-hidden="true"></i> Transactions
            </a>
        </li>
        <li>
            <a href="#!/addresses">
                <i class="fa fa-qrcode o_sidebarIcon" aria-hidden="true"></i> Addresses
            </a>
        </li>
        <li>
            <a ng-href="#!/beta">
                <i class="fa fa-bug o_sidebarIcon" aria-hidden="true"></i> Beta
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/arnaucode/goBlockchainDataAnalysis">
                <i class="fa fa-code o_sidebarIcon" aria-hidden="true"></i> Code
            </a>
        </li>
    </ul>
</div>
