<div class="c_grey600" style="height:800px;margin-top:-20px;">
    <ul class="nav o_sidebar">
        <li>
            <a href="#!/main">
                <i class="fa fa-home" aria-hidden="true"></i> Main
            </a>
        </li>
        <li>
            <a href="#!/network">
                <i class="fa fa-chain" aria-hidden="true"></i> Network
            </a>
        </li>
        <li>
            <a href="#!/addressNetwork">
                <i class="fa fa-sitemap" aria-hidden="true"></i> Address Network
            </a>
        </li>
        <li>
            <a href="#!/sankey">
                <i class="fa fa-code-fork" aria-hidden="true"></i> Sankey diagram
            </a>
        </li>
        <li>
            <a href="#!/dateAnalysis">
                <i class="fa fa-bar-chart" aria-hidden="true"></i> Date Analysis
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <i class="fa fa-area-chart" aria-hidden="true"></i> Timeline
            </a>
        </li>
    </ul>
</div>
