<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="panel-heading c_blueGrey300">
                <h3 class="panel-title">All addresses</h3>
            </div>
            <div class="panel-body" style="max-height: 500px;overflow-y: scroll;">
                <div class="form-group label-floating">
                    <input ng-model="filterAddress" abmFormControl class="form-control" placeholder="Filter" type="text">
                </div>
                <div ng-click="getAddressSankey(node)" class="list-group-item" ng-repeat="node in addresses | filter: filterAddress">
                    <div class="row-content">
                        <p class="list-group-item-text">{{node.id}}</p>

                        <!--<p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="panel-heading c_blueGrey300">
                <h3 class="panel-title">Sankey</h3>
            </div>
            <div class="panel-body">
                <!--<ng-sankey id="sankeyChart" options="options" data="data"></ng-sankey>
                -->
                <div id="sankeyChart">
                    <canvas></canvas>
                    <svg></svg>
                </div>
            </div>
        </div>
    </div>
</div>
