<div class="row">
    <div class="col-sm-12">
        <a ng-href="#!/network" class="btn btn-raised btn-lg c_deepPurple400">
            <i class="fa fa-chain o_sidebarIcon" aria-hidden="true"></i> Network
        </a>
        <a ng-href="#!/sankey" class="btn btn-raised btn-lg c_deepPurple400">
            <i class="fa fa-code-fork o_sidebarIcon" aria-hidden="true"></i> Sankey Diagram
        </a>
        <a ng-href="#!/beta" class="btn btn-raised btn-lg c_deepPurple400">Known addresses</a>
    </div>
</div>
